@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Navbar */
/* Animated underline for NavLink */
.nav-link {
  position: relative;
  padding-bottom: 6px;
  font-size: 1.1rem;
  color: #444;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #C8A870;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #C8A870;
  transition: 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* Dropdown animation */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.25s ease-out;
}

/* Mobile slide-down */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.25s ease-out;
}

/* Dropdown + mobile items */
.dropdown-item,
.mobile-item {
  display: block;
  padding: 10px 16px;
  color: #444;
  transition: 0.2s ease;
}

.dropdown-item:hover,
.mobile-item:hover {
  background: #f5f5f5;
  color: #1E595D;
}


/* Footer */
.footer-title {
  @apply text-xl font-semibold text-[#C8A870] tracking-wide;
}

.footer-link {
  @apply text-gray-200 hover:text-[#C8A870] transition;
}

.footer-icon {
  @apply w-10 h-10 flex items-center justify-center rounded-full bg-[#C8A870] 
    text-[#1E595D] text-lg transition hover:bg-white hover:text-[#1E595D];
}
